
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Pathshala</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-image: url("code.jpg");
        }

        .container {
            background-color: #fff;
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 50px;
        }

        .container h2 {
            text-align: center;
        }

        .container form {
            display: flex;
            flex-direction: column;
        }

        .container label {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .container input[type="text"],
        .container input[type="password"] {
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            outline:none
        }

        .container input[type="submit"] {
            background-color: #007BFF;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            font-size: large;
        }

        .container input[type="submit"]:hover {
            background-color: #0056b3;
        }
        a{
            text-decoration: none;
            color: white;
            font-size: large;
        }
        button{
            cursor: pointer;
            background-color: #007BFF;
            padding: 10px;
            border: none;
            border-radius: 5px;
        }
    </style>
</head>